<ng-container *ngFor="let a of applications">
    <ion-card *ngIf="applications" class="bottom-border">
        <div class="card-title">{{a.client.name}} {{a.client.surname}}</div>
        <ion-list>
            <ion-item *ngIf="a.city">
                <ion-label>Місто:</ion-label>
                {{a.city.name}}
            </ion-item>
            <ion-item *ngIf="a.course">
                <ion-label>Курс:</ion-label>
                {{a.course.name}}
            </ion-item>
            <ion-item *ngIf="a.group">
                <ion-label>Група:</ion-label>
                {{a.group.name}}
            </ion-item>
            <ion-item *ngIf="a.date">
                <ion-label>Дата:</ion-label>
                {{a.date | date}}
            </ion-item>
            <ion-item *ngIf="a.fullPrice">
                <ion-label>Ціна:</ion-label>
                {{a.fullPrice}}
            </ion-item>
            <ion-item *ngIf="a.leftToPay">
                <ion-label>До оплати:</ion-label>
                {{a.leftToPay}}
            </ion-item>
        </ion-list>
    </ion-card>
</ng-container>

