.card-title{
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 0 5px 0;
  border: 2px solid white;
}
.card-content{
  display: flex;
  flex-direction: column;
}
.card-type-info{
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 5px 10px;
}
.card-info{
  color: white;
  padding: 0 0 10px 15px;
}
.card-column{
  border-bottom: #e6ebeb solid 1px;
}
.bottom-border{
  border: 2px solid #e6ebeb;
}

.card-title1{
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 5px 0 5px 0;
  border-radius: 10px;
}