<ion-grid *ngIf="clients">
    <ion-row>
        <ion-col>
            Ім'я
        </ion-col>
        <ion-col>
            Прізвище
        </ion-col>
        <ion-col>
            Телефон
        </ion-col>
        <ion-col>
            Емейл
        </ion-col>
        <ion-col>
            Вік
        </ion-col>
        <ion-col>
            Статус
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let c of clients">
        <ion-col>
            <div>
                {{c.name}}
            </div>
        </ion-col>
        <ion-col>
            <div>
                {{c.surname}}
            </div>
        </ion-col>
        <ion-col>
            <div>
                {{c.phone}}
            </div>
        </ion-col>
        <ion-col>
            <div>
                {{c.email}}
            </div>
        </ion-col>
        <ion-col>
            <div>
                {{c.age}}
            </div>
        </ion-col>
        <ion-col>
            <div>
                {{c.statusId}}
            </div>
        </ion-col>
    </ion-row>
</ion-grid>