<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Фільтер</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Відсортувати</ion-label>
      <ion-select [(ngModel)]="sort" okText="Сортувати" cancelText="Скасувати">
        <ion-select-option value="name">Ім'я: За зростанням</ion-select-option>
        <ion-select-option value="name">Ім'я: За спаданням</ion-select-option>
        <ion-select-option value="surname">Прізвище: За зростанням</ion-select-option>
        <ion-select-option value="surname">Прізвище: За спаданням</ion-select-option>
        <ion-select-option value="age">Вік: За зростанням</ion-select-option>
        <ion-select-option value="age">Вік: За спаданням</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>