<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Фільтр</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list #filterBlock>
    <ion-item>
      <ion-label position="stacked"> Ім'я <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" data-key="name" [(ngModel)]="filterParams.name" (keyup)="loadFiltered(filterBlock)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Прізвище <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required  type="text" data-key="surname" [(ngModel)]="filterParams.surname" (keyup)="loadFiltered(filterBlock)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Телефон <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required  type="text" data-key="phone" [(ngModel)]="filterParams.phone" (keyup)="loadFiltered(filterBlock)"></ion-input>
    </ion-item>
    <div padding>
      <ion-button size="large" expand="block" (click)="filter()">Фільтрувати</ion-button>
    </div>
  </ion-list>
</ion-content>