<ion-header>
    <ion-toolbar class="toolbar-color">
        <ion-buttons slot="start">
            <ion-menu-button class="icon-color"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="presentModal()">
                <ion-icon name="search" class="icon-color"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title">Завдання</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="content-background">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div style="display: flex; justify-content: space-between">
        <div style="display: flex;">
            <ion-icon name="code" size="large" class="table-icon"></ion-icon>
            <div class="page_index">
                <input
                        type="number"
                        [value]="pageIndex"
                        (blur)="loadPaginated(0, $event)"
                        class="table-input">
                з {{countOfPages}}
            </div>

        </div>
        <div>
            <div class="page_size">
                Ліміт:
                <input
                        type="number"
                        [(ngModel)]="pageSize"
                        (input)="loadTasks()"
                        class="table-input">
            </div>
        </div>
    </div>
    <div (swipe)="changePage($event)" [style.touch-action]="'pan-y'">
        <div class="filter-bar" *ngIf="filter">
            <div *ngIf="filter['client.name']" class="filter-label" (click)="filterLabel('client.name')">
                Клієнт: {{filter['client.name']}}
                <ion-icon name="close" class="filter-icon"></ion-icon>
            </div>
            <div *ngIf="filter.message" class="filter-label" (click)="filterLabel('message')">
                Повідомлення: {{filter.message}}
                <ion-icon name="close" class="filter-icon"></ion-icon>
            </div>
            <div *ngIf="filter.date" class="filter-label" (click)="filterLabel('date')">
                Дата: {{filter.date |date}}
                <ion-icon name="close" class="filter-icon"></ion-icon>
            </div>
        </div>
        <app-skeleton-table *ngIf="!hideSkeleton" [pageSize]="pageSize" [page]="pageForSkeleton"></app-skeleton-table>
        <app-tasks-table [tasks]="tasks" [tableListCount]="tableListCount" *ngIf="hideSkeleton"></app-tasks-table>
    </div>
</ion-content>
