<ion-header>
    <ion-toolbar class="toolbar-color">
        <ion-buttons slot="start">
            <ion-menu-button class="icon-color"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="presentModal()">
                <ion-icon name="search" class="icon-color"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title">Платежі</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content-background">
    <div class="filter-bar" *ngIf="filter">
        <div *ngIf="filter['client.fullname']" class="filter-label" (click)="filterLabel('client.fullname')">
            Клієнт: {{filter['client.fullname']}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter.number" class="filter-label" (click)="filterLabel('number')">
            Номер: {{filter.number}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter['course.name']" class="filter-label" (click)="filterLabel('course.name')">
            Курс: {{filter['course.name']}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter.expectedAmount" class="filter-label" (click)="filterLabel('expectedAmount')">
            Очік. сума: {{filter.expectedAmount}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter.paymentDate" class="filter-label" (click)="filterLabel('paymentDate')">
            Дата платежа: {{filter.paymentDate | date}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter.amount" class="filter-label" (click)="filterLabel('amount')">
            Сума: {{filter.amount}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter.statusId" class="filter-label" (click)="filterLabel('statusId')">
            <ng-container *ngFor="let s of paymentStatuses">
                <div *ngIf="filter.statusId === s.id">Статус: {{s.name}}</div>
            </ng-container>
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
    </div>
    <div (swipe)="changePage($event)">
        <app-payments-table [payments]="payments" [tableListCount]="tableListCount"></app-payments-table>
    </div>
</ion-content>
<ion-footer class="foo">
    <div class="footer-panel">
        <div>
            <ion-icon name="arrow-dropleft-circle" (click)="loadPaginated(-1, null)" size="large"
                      class="icon"></ion-icon>
        </div>
        <div>
            <ion-title class="title-color">{{pageIndex}} з {{countOfPages}}</ion-title>
        </div>
        <div>
            <ion-icon name="arrow-dropright-circle" (click)="loadPaginated(1, null)" size="large"
                      class="icon"></ion-icon>
        </div>
    </div>
</ion-footer>
