<ion-header>
    <ion-toolbar class="toolbar-color">
        <ion-buttons slot="start">
            <ion-menu-button class="icon-color"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="presentModal()">
                <ion-icon name="search" class="icon-color"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title">Платежі</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content-background">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" [style.touch-action]="'pan-y'">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div style="display: flex; justify-content: space-between">
        <div style="display: flex;">
            <ion-icon name="code" size="large" class="table-icon"></ion-icon>
            <div class="page_index">
                <input
                        type="number"
                        [value]="pageIndex"
                        (blur)="loadPaginated(0, $event)"
                        class="table-input">
                з {{countOfPages}}
            </div>

        </div>
        <div>
            <div class="page_size">
                Ліміт:
                <input
                        type="number"
                        [(ngModel)]="pageSize"
                        (input)="loadPayments()"
                        class="table-input">
            </div>
        </div>
    </div>
    <div class="filter-bar" *ngIf="filter">
        <div *ngIf="filter['client.fullname']" class="filter-label" (click)="filterLabel('client.fullname')">
            Клієнт: {{filter['client.fullname']}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter.number" class="filter-label" (click)="filterLabel('number')">
            Номер: {{filter.number}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter['course.name']" class="filter-label" (click)="filterLabel('course.name')">
            Курс: {{filter['course.name']}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter.expectedAmount" class="filter-label" (click)="filterLabel('expectedAmount')">
            Очік. сума: {{filter.expectedAmount}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter.paymentDate" class="filter-label" (click)="filterLabel('paymentDate')">
            Дата платежа: {{filter.paymentDate | date}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter.amount" class="filter-label" (click)="filterLabel('amount')">
            Сума: {{filter.amount}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter.statusId" class="filter-label" (click)="filterLabel('statusId')">
            <ng-container *ngFor="let s of paymentStatuses">
                <div *ngIf="filter.statusId === s.id">Статус: {{s.name}}</div>
            </ng-container>
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
    </div>
    <div (swipe)="changePage($event)">
        <app-skeleton-table *ngIf="!hideSkeleton" [pageSize]="pageSize" [page]="pageForSkeleton"></app-skeleton-table>
        <app-payments-table [payments]="payments" [tableListCount]="tableListCount" *ngIf="hideSkeleton"></app-payments-table>
    </div>
</ion-content>

