<ion-header>
    <ion-toolbar class="toolbar-color">
        <ion-buttons slot="start">
            <!--<ion-menu-button class="icon-color"></ion-menu-button>-->
            <ion-button (click)="presentModal()">
                <ion-icon name="search" class="icon-color" size="medium"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-img class="logo" src="assets/images/owu-logo.png"></ion-img>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon name="log-out" size="medium" class="icon-color"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="content-background">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!--<ion-fab *ngIf="applicationPage" horizontal="end" vertical="bottom" slot="fixed" (click)="presentModal()">-->
        <!--<ion-fab-button-->
                <!--style="&#45;&#45;background: linear-gradient(135deg, rgba(129, 131, 131, 1) 0%, rgba(42, 44, 44, 1) 100%);">-->
            <!--<ion-icon name="search"></ion-icon>-->
        <!--</ion-fab-button>-->
    <!--</ion-fab>-->
    <!--<ion-segment (ionChange)="segmentChanged($event)" value="application" color="medium">-->
        <!--<ion-segment-button value="application">-->
            <!--<ion-label>Заявки</ion-label>-->
        <!--</ion-segment-button>-->
        <!--<ion-segment-button value="e-application">-->
            <!--<ion-label>Ел. Заявки</ion-label>-->
        <!--</ion-segment-button>-->
    <!--</ion-segment>-->
    <div style="display: flex; justify-content: space-between" *ngIf="applicationPage">
        <div style="display: flex;">
            <ion-icon name="code" size="large" class="table-icon"></ion-icon>
            <div class="page_index">
                <input
                        type="number"
                        [value]="pageIndex"
                        (blur)="loadPaginated(0, $event)"
                        class="table-input">
                з {{countOfPages}}
            </div>

        </div>
        <div>
            <div class="page_size">
                Ліміт:
                <input
                        type="number"
                        [(ngModel)]="pageSize"
                        (input)="loadApplications()"
                        class="table-input">
            </div>
        </div>
    </div>
    <div>
        <div class="filter-bar" *ngIf="filter">
            <div *ngIf="filter['client.fullname']" class="filter-label" (click)="filterLabel('client.fullname')">
                Клієнт: {{filter['client.fullname']}}
                <ion-icon name="close" class="filter-icon"></ion-icon>
            </div>
            <div *ngIf="filter['city.name']" class="filter-label" (click)="filterLabel('city.name')">
                Місто: {{filter['city.name']}}
                <ion-icon name="close" class="filter-icon"></ion-icon>
            </div>
            <div *ngIf="filter['course.name']" class="filter-label" (click)="filterLabel('course.name')">
                Курс: {{filter['course.name']}}
                <ion-icon name="close" class="filter-icon"></ion-icon>
            </div>
            <div *ngIf="filter['group.name']" class="filter-label" (click)="filterLabel('group.name')">
                Група: {{filter['group.name']}}
                <ion-icon name="close" class="filter-icon"></ion-icon>
            </div>
            <div *ngIf="filter.fullPrice" class="filter-label" (click)="filterLabel('fullPrice')">
                Ціна: {{filter.fullPrice}}
                <ion-icon name="close" class="filter-icon"></ion-icon>
            </div>
            <div *ngIf="filter.leftToPay" class="filter-label" (click)="filterLabel('leftToPay')">
                До оплати: {{filter.leftToPay}}
                <ion-icon name="close" class="filter-icon"></ion-icon>
            </div>
            <div *ngIf="filter.appDateInput" class="filter-label" (click)="filterLabel('appDateInput')">
                Дата: {{filter.appDateInput |date}}
                <ion-icon name="close" class="filter-icon"></ion-icon>
            </div>
        </div>

        <div (swipe)="changePage($event)" [style.touch-action]="'pan-y'">
            <app-application-list [applications]="applications" [tableListCount]="tableListCount" *ngIf="hideSkeleton && applicationPage"></app-application-list>
            <app-skeleton-table *ngIf="!hideSkeleton" [pageSize]="pageSize"
            [page]="pageForSkeleton"></app-skeleton-table>
            <app-e-application-list [eapplications]="eapplications" *ngIf="eapplicationPage"></app-e-application-list>
        </div>

    </div>
</ion-content>

