<ion-header>
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" size="medium" class="icon-color"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Пошук</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-background">
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Ім'я:</ion-label>
        <ion-input required type="text" [(ngModel)]="filterParams.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Вільна практика:</ion-label>
        <ion-input required type="number" [(ngModel)]="filterParams.freePractice"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Використана практика:</ion-label>
        <ion-input required type="number" [(ngModel)]="filterParams.usedPractice"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Курс:</ion-label>
        <ion-input required type="text" [(ngModel)]="filterParams['course.name']"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Місто:</ion-label>
        <ion-input required type="text" [(ngModel)]="filterParams['city.name']"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" color="success" (click)="filter()">Знайти</ion-button>
  </ion-card>
</ion-content>