.bottom-border{
  border: 2px solid #e6ebeb;
}

.card-title{
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 5px 0 5px 0;
  border-radius: 10px;
}

.row{
  background: white;
  border-bottom: 1px solid grey;
  font-size: 12px
}
ion-col.md.hydrated{
  padding: 0 5px 0 5px;
}