<ion-header>
    <ion-toolbar class="toolbar-color">
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon name="close" size="medium" class="icon-color"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title" *ngIf="a">{{a.client.name}} {{a.client.surname}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content-background">

    <ion-card *ngIf="a">
        <ion-list>
            <ion-item *ngIf="a.city">
                <ion-label>Місто:</ion-label>
                <div class="text-modal">{{a.city.name}}</div>
            </ion-item>
            <ion-item *ngIf="a.course">
                <ion-label>Курс:</ion-label>
                <div class="text-modal">{{a.course.name}}</div>
            </ion-item>
            <ion-item *ngIf="a.group">
                <ion-label>Група:</ion-label>
                <div class="text-modal">{{a.group.name}}</div>
            </ion-item>
            <ion-item *ngIf="a.date">
                <ion-label>Дата:</ion-label>
                <div class="text-modal">{{a.date | date}}</div>
            </ion-item>
            <ion-item *ngIf="a.fullPrice">
                <ion-label>Ціна:</ion-label>
                <div class="text-modal">{{a.fullPrice}}</div>
            </ion-item>
            <ion-item *ngIf="a.leftToPay">
                <ion-label>До оплати:</ion-label>
                <div class="text-modal">{{a.leftToPay}}</div>
            </ion-item>
            <ion-item *ngIf="a.hasPractice">
                <ion-label>Має практику:</ion-label>
                <div *ngIf="a.hasPractice === 0">
                    Ні
                </div>
                <div *ngIf="a.hasPractice === 1">
                    Так
                </div>
            </ion-item>
            <ion-item>
                <ion-label>Отримав ноутбук:</ion-label>
                <div *ngIf="a.needLaptop === 0">
                    Ні
                </div>
                <div *ngIf="a.needLaptop === 1">
                    Так
                </div>
            </ion-item>
            <ion-item *ngIf="a.createdAt">
                <ion-label style="overflow: visible;">Дата створення:</ion-label>
                <div class="text-modal">{{a.createdAt | date: 'short'}}</div>
            </ion-item>
            <ion-item *ngIf="a.updatedAt">
                <ion-label style="overflow: visible;">Дата оновлення:</ion-label>
                <div class="text-modal">{{a.updatedAt | date: 'short'}}</div>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>