<ion-card class="card-border">

  <div class="card-title" #headerBlock>
    <div style="padding-left: 5px">#</div>
    <div style="padding-left: 17px" (click)="getHeader('name',headerBlock,$event)">Ім'я</div>
    <div (click)="getHeader('course.name',headerBlock,$event)">Курс</div>
    <div style="padding-right: 42px" (click)="getHeader('city.name',headerBlock,$event)">Місто</div>
  </div>

  <ion-row *ngFor="let g of groups; index as i" class="row" (click)="presentModal(g)">
    <ion-col>{{i + 1 + tableListCount}}</ion-col>
    <ion-col *ngIf="g.name" class="text-hidden">{{g.name}}</ion-col>
    <ion-col *ngIf="g.course.name" class="text-hidden">{{g.course.name}}</ion-col>
    <ion-col *ngIf="g.city.name" class="text-hidden">{{g.city.name}}</ion-col>
  </ion-row>
</ion-card>
