<ion-header>
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" size="medium" class="icon-color"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title" *ngIf="g">{{g.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background">
  <ion-card *ngIf="g">
    <ion-list>
      <ion-item *ngIf="g.name">
        <ion-label>Ім'я:</ion-label>
        <div class="text-modal">{{g.name}}</div>
      </ion-item>
        <ion-item *ngIf="g.freePractice">
          <ion-label>Вільна практика:</ion-label>
          <div class="text-modal">{{g.freePractice}}</div>
        </ion-item>
        <ion-item *ngIf="g.usedPractice">
          <ion-label>Використана практика:</ion-label>
          <div class="text-modal">{{g.usedPractice}}</div>
        </ion-item>
      <ion-item *ngIf="g.startDate">
        <ion-label>Початкова дата:</ion-label>
        <div class="text-modal">{{g.startDate | date}}</div>
      </ion-item>
      <ion-item *ngIf="g.startTime">
        <ion-label>Початкова час:</ion-label>
        <div class="text-modal">{{g.startTime}}</div>
      </ion-item>
      <ion-item *ngIf="g.expirationDate">
        <ion-label>Дата закінчення:</ion-label>
        <div class="text-modal">{{g.expirationDate}}</div>
      </ion-item>
      <ion-item *ngIf="g.course.name">
        <ion-label>Курс:</ion-label>
        <div class="text-modal">{{g.course.name}}</div>
      </ion-item>
      <ion-item *ngIf="g.city.name">
        <ion-label>Місто:</ion-label>
        <div class="text-modal"> {{g.city.name}}</div>
      </ion-item>
      <ion-item *ngIf="g.createdAt">
        <ion-label style="overflow: visible;">Дата створення:</ion-label>
        <div class="text-modal">{{g.createdAt | date: 'short'}}</div>
      </ion-item>
      <ion-item *ngIf="g.updatedAt">
        <ion-label style="overflow: visible;">Дата оновлення:</ion-label>
        <div class="text-modal">{{g.updatedAt | date: 'short'}}</div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>