<ion-app>
  <ion-split-pane contentId="menu-content">
    <ion-menu menuId="first" side="start" contentId="menu-content" *ngIf="showMenu">
      <ion-header class="red-line background-white">
        <ion-toolbar color="dark">
          <ion-buttons slot="end">
            <ion-button (click)="closeMenu()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="background-white">
        <app-menu></app-menu>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
