<ion-header>
    <ion-toolbar class="toolbar-color">
        <ion-buttons slot="start">
            <ion-menu-button class="icon-color"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="presentModal()">
                <ion-icon name="search" class="icon-color"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title">Групи</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content-background">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div style="display: flex; justify-content: space-between">
        <div style="display: flex;">
            <ion-icon name="code" size="large" class="table-icon"></ion-icon>
            <div class="page_index">
                <input
                        type="number"
                        [value]="pageIndex"
                        (blur)="loadPaginated(0, $event)"
                        class="table-input">
                з {{countOfPages}}
            </div>

        </div>
        <div>
            <div class="page_size">
                Ліміт:
                <input
                        type="number"
                        [(ngModel)]="pageSize"
                        (input)="loadGroups()"
                        class="table-input">
            </div>
        </div>
    </div>
    <div class="filter-bar" *ngIf="filter">
        <div *ngIf="filter.name" class="filter-label" (click)="filterLabel('name')">
            Ім'я: {{filter.name}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter['city.name']" class="filter-label" (click)="filterLabel('city.name')">
            Місто: {{filter['city.name']}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter['course.name']" class="filter-label" (click)="filterLabel('course.name')">
            Курс: {{filter['course.name']}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter.freePractice" class="filter-label" (click)="filterLabel('freePractice')">
            Вільна прак.: {{filter.freePractice}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
        <div *ngIf="filter.usedPractice" class="filter-label" (click)="filterLabel('usedPractice')">
            Викорис прак.: {{filter.usedPractice}}
            <ion-icon name="close" class="filter-icon"></ion-icon>
        </div>
    </div>
    <div (swipe)="changePage($event)" [style.touch-action]="'pan-y'">
        <app-skeleton-table *ngIf="!hideSkeleton" [pageSize]="pageSize" [page]="pageForSkeleton"></app-skeleton-table>
        <app-groups-table [groups]="groups" [tableListCount]="tableListCount" *ngIf="hideSkeleton"></app-groups-table>
    </div>
</ion-content>
