<ion-list class="padding-zero">
    <ng-container *ngFor="let p of pages">
        <ion-item class="content-background">
            <ion-icon [name]="p.icon" class="icon-color" slot="start" [routerLink]="p.url" (click)="closeMenu()"></ion-icon>
            <ion-label class="text" [routerLink]="p.url" (click)="closeMenu()">{{p.title}}</ion-label>
            <div class="with-icons" (click)="p.open = !p.open" [class.parent-active]="p.open">
                <ion-icon class="icon-color" size="medium" slot="start"
                          name="arrow-down" *ngIf="!p.open && p.children?.length>0"></ion-icon>
                <ion-icon class="icon-color" size="medium" slot="start"
                          name="arrow-up" *ngIf="p.open && p.children?.length>0"></ion-icon>
            </div>
        </ion-item>
        <ion-list *ngIf="p.open" class="padding-zero">
                <ion-item *ngFor="let sub of p.children" [routerLink]="sub.url"
                        routerDirection="root"
                        routerLinkActive="active-cat-item"
                        class="content-background">
                    <ion-label class="text">{{sub.title}}</ion-label>
                </ion-item>
        </ion-list>
    </ng-container>
</ion-list>