<ng-container *ngFor="let e of eapplications">
    <ion-card *ngIf="eapplications && e.active == 1" class="bottom-border">

        <div class="card-title"></div>

        <ion-list>
            <ion-item *ngIf="e.name && e.surname">
                <ion-label>Клієнт:</ion-label>
                <div class="text-modal">{{e.name}} {{e.surname}}</div>
            </ion-item>
            <ion-item *ngIf="e.email">
                <ion-label>Емейл:</ion-label>
                <div class="text-modal">{{e.email}}</div>
            </ion-item>
            <ion-item *ngIf="e.phone">
                <ion-label>Телефон:</ion-label>
                <div class="text-modal">{{e.phone}}</div>
            </ion-item>
            <ion-item *ngIf="e.city">
                <ion-label>Місто:</ion-label>
                <div class="text-modal">{{e.city}}</div>
            </ion-item>
            <ion-item *ngIf="e.course">
                <ion-label>Курс:</ion-label>
                <div class="text-modal">{{e.course}}</div>
            </ion-item>
            <ion-item *ngIf="e.type">
                <ion-label>Тип:</ion-label>
                <div class="text-modal">{{e.type}}</div>
            </ion-item>
            <ion-item *ngIf="e.wantPractice">
                <ion-label>З практикою:</ion-label>
                <div *ngIf="e.wantPractice == true">
                    Так 😊
                </div>
                <div *ngIf="e.wantPractice == false">
                    Ні 😒
                </div>
            </ion-item>
            <ion-item *ngIf="e.social">
                <ion-label>Джерело:</ion-label>
                <div class="text-modal">{{e.social}}</div>
            </ion-item>
            <ion-item *ngIf="e.comment">
                <ion-label>Коментар:</ion-label>
                <div class="text-modal">{{e.comment}}</div>
            </ion-item>
            <ion-item *ngIf="e.date">
                <ion-label>Дата:</ion-label>
                <div class="text-modal">{{e.createdAt | date}}</div>
            </ion-item>
        </ion-list>
    </ion-card>

</ng-container>