.card-title{
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 5px 0 5px 0;
  border: 2px solid white;
  height: 34px;
}

.bottom-border{
  overflow-y: scroll;
  border-bottom: 2px solid white;
}

